@tailwind base;

/* Write your own custom base styles here */
@font-face {
  font-family: 'Cubano-Regular';
  src: url('/fonts/cubano-webfont.woff2') format('woff2'),
    url('/fonts/cubano-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */