@tailwind base;

/* Write your own custom base styles here */
@font-face {
  font-family: 'Cubano-Regular';
  src: url('/fonts/cubano-webfont.woff2') format('woff2'),
    url('/fonts/cubano-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.privacy-policy h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.publication h2{
  font-size: 24px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #993333;
}

.publication h3 {
  font-size: 18px;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 20px;
  font-style: italic;
  color: #993333;
}

.privacy-policy h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.privacy-policy h3 {
  font-size: 1.25rem;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}

.privacy-policy p {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.privacy-policy a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.privacy-policy a:link {
  color: #993333;
}

.privacy-policy ul {
  padding-left: 2rem;
  list-style-type: disc;
}

.privacy-policy ul li {
  padding-top: 10px;
  padding-left: 2rem;
}

.privacy-policy table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #993333;
}
.publication table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #993333;
  word-break: break-word;
}

.privacy-policy td,
.privacy-policy th {
  border: 3px solid #993333;
  padding: 3px;
}

.publication td,
.publication th {
  border: 1px solid #993333;
  padding: 3px;
}

.publication ol {
  padding: 2rem;
  list-style-type: decimal;
  color: #993333;
}

.publiction ol li {
  padding: 5px;
  margin-left: 35px;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */